@import "tailwindcss";

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #050b08;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
